@import "@dpm-core/shared/shared-styles.css";
@import "@dpm-core/shared/theme-styles.css";

@layer base {
	body {
		@apply bg-background-normal;
	}
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}
